<!doctype html>
<html lang="es">

<head>
  <title>Mantenedor Producto</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="Style/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>


<body>
  <script src="https://unpkg.com/vue@next"></script>

  <div id="app" class="container" data-v-app>
    <div class="container" id="formulario">
      <form action="">
        <form>
          <h5>Añadir un producto</h5>
          <div class="form-group row">
            <label for="" class="col-md-3 form-label">Nombre: </label>
            <div class="col-sm">
              <input v-model="newProducto.nombre" type="text" class="form-control" name="" id=""
                aria-describedby="helpId" placeholder="" required>
              <span v-if="error" class="text-danger">campo requerido</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-md-3 col-form-label">Descripción: </label>
            <div class="col-sm">
              <input v-model="newProducto.descripcion" type="text" class="form-control" name="" id=""
                aria-describedby="helpId" placeholder="" required>
              <span v-if="error" class="text-danger">campo requerido</span>
            </div>
          </div>
          <div class="form-group row">
            <label for="" class="col-md-3 col-form-label">Precio: </label>
            <div class="col-sm">
              <input v-model="newProducto.precio" type="number" class="form-control" name="" id=""
                aria-describedby="helpId" placeholder="" required>
              <span v-if="error" class="text-danger">Precio mayor a 0</span>
            </div>
          </div>
          <div id="button">
            <button @click="addProducto()" type="button" class="btn btn-primary">Añadir producto</button>
          </div>
        </form>
      </form>
    </div>


    <div class="container">
      <div id="separador"></div>
      <h3>Lista de Productos</h3>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Editar Producto</th>
            <th>Eliminar Producto</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(producto,index) in productos">
            <td> {{producto.nombre}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.precio}}</td>
            <td><button type="button" class="btn btn-warning">Editar</button></td>
            <td><button @click="deleteProducto(index)" type="button" class="btn btn-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>

    </div>

    <div v-for="(producto,index) in productos">
      {{producto}}
    </div>
    <pre>
      {{$data}}
    </pre>

  </div>










  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="main.js"></script>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>